::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 100px;
}

::-webkit-scrollbar-track:hover {
    background: #e1e1e1;
}

::-webkit-scrollbar-track:active {
    background: #e1e1e1;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.space150 {
    display: block;
    height: 150px;
}

.space100 {
    display: inline-block;
    height: 100px;
    width: 100%;
}

.space50 {
    display: block;
    height: 50px;
}

.space30 {
    display: block;
    height: 30px;
}

.space20 {
    display: block;
    height: 20px;
}

.space10 {
    display: block;
    height: 10px;
}

.w-100 {
    width: 100%;
}


/* ==========================
        Homepage Styles
   ==========================  */

body {
    font-size: 100%;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

#home {
    background: #000;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
}

#home .my-brand-wrapper {
    position: absolute;
    top: 70px;
    left: 100px;
    color: #fff;
    z-index: 60;
}

#home .my-brand-wrapper h5 span {
    opacity: .4;
}

#home .my-brand-wrapper h5 {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    opacity: 1;
    margin-bottom: 25px;
    font-size: 23px;
    letter-spacing: 4px;
    color: rgba(255, 255, 255, 0.6);
}

#home .my-brand-wrapper h5 strong {
    position: relative;
    display: inline-block;
    overflow: hidden;
    bottom: -4px;
}

#home .my-brand-wrapper h5 strong:after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    width: 100%;
    height: 100%;
    transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
}

#home.openHome .my-brand-wrapper h5 strong:after {
    transition-delay: 2s;
    -webkit-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -o-transition-delay: 2s;
    top: -100%;
}

#home .my-brand-wrapper h1 {
    font-size: 40px;
    line-height: 55px;
    letter-spacing: -1px;
    font-weight: 700;
}

#home .my-hello {
    position: absolute !important;
    font-size: 288px;
    opacity: .1;
    letter-spacing: -1px;
    bottom: -90px;
    left: -40px;
    color: #fff;
    font-weight: 700;
}

#home .my-main-nav {
    position: absolute;
    right: 100px;
    bottom: 20vh;
    z-index: 50;
}

#home .my-main-nav ul {
    text-align: right;
}

#home .my-main-nav ul li {
    margin-top: 4vh;
}

#home .my-main-nav ul li a {
    color: #313131;
    font-size: 85px;
    letter-spacing: -1px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-weight: 700;
}
#home .my-main-nav ul li a.active{
    color: #fff;
}

.link-mask::before {
    content: attr(data-text);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;
    width: 0%;
    transition: width 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition: width 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition: width 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: width 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    display: block;
}

#home.openHome .my-main-nav ul li:nth-of-type(1) a::after {
    transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    top: -100%;
}

#home.openHome .my-main-nav ul li:nth-of-type(2) a::after {
    transition-delay: 1.3s;
    -webkit-transition-delay: 1.3s;
    -moz-transition-delay: 1.3s;
    -o-transition-delay: 1.3s;
    top: -100%;
}

#home.openHome .my-main-nav ul li:nth-of-type(3) a::after {
    transition-delay: 1.6s;
    -webkit-transition-delay: 1.6s;
    -moz-transition-delay: 1.6s;
    -o-transition-delay: 1.6s;
    top: -100%;
}

.link-mask::after {
    content: '';
    background: #fff;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
}

.link-mask:hover::before {
    width: 100%;
}

.my-main-lines {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.my-main-lines .vline {
    position: absolute;
    width: 1px;
    height: 105vh;
    background: rgba(255, 255, 255, 0.10);
    top: 0;
}
#home.work .my-main-lines{
    position: fixed;
}

.my-main-lines .vline::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background: #fff;
    bottom: 0;
    left: -3px;
}

.my-main-lines .vline:nth-of-type(1) {
    right: 10vw;
}

.my-main-lines .vline:nth-of-type(2) {
    right: 20vw;
}

.my-main-lines .vline:nth-of-type(3) {
    right: 30vw;
}

.my-main-lines .vline:nth-of-type(4) {
    right: 40vw;
}

.my-main-lines .vline:nth-of-type(5) {
    right: 50vw;
}

.my-main-social {
    position: absolute;
    bottom: 30px;
    right: 100px;
    z-index: 50;
}

.my-main-social li {
    display: inline-block;
    margin-left: 25px;
}

.my-main-social li a {
    width: 28px;
    height: 28px;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    position: relative;
    display: inline-block;
}

.my-main-social li a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
}

.my-main-social li a:hover:after {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

.my-main-social li:nth-of-type(1) a {
    background: url('/img/facebook.svg') no-repeat center center;
}

.my-main-social li:nth-of-type(2) a {
    background: url('/img/Twitter.svg') no-repeat center center;
}

.my-main-social li:nth-of-type(3) a {
    background: url('/img/linkedine.svg') no-repeat center center;
}

.my-main-social li:nth-of-type(4) a {
    background: url('/img/behance.svg') no-repeat center center;
}

.my-main-social li:nth-of-type(5) a {
    background: url('/img/dribbble.svg') no-repeat center center;
}

@media(max-width:1024px) {
    #home .my-hello {
        font-size: 178px;
        left: 0;
    }
    #home .my-main-nav ul li a {
        font-size: 8vw;
    }
}

@media(max-width:600px) {
    .my-main-lines {
        display: none;
    }
    #home .my-brand-wrapper {
        top: 20px;
        left: 20px;
    }
    #home .my-brand-wrapper h5 {
        margin-bottom: 5px;
    }
    #home .my-brand-wrapper h1 {
        font-size: 30px;
        line-height: 45px;
    }
    #home .my-hello {
        font-size: 128px;
        bottom: 0;
    }
    #home .my-main-nav {
        right: 50px;
        bottom: 35vh;
    }
    .my-main-social {
        right: inherit;
        width: 100%;
        text-align: center;
    }
    .my-main-social li {
        margin-left: 15px;
        margin-right: 15px;
    }
}


/* ==========================
        Aboutpage Styles
   ==========================  */

#about section {
    background: #fff;
    width: 100%;
    overflow-y: hidden
}

.ky-my {
    font-weight: 100;
    font-size: 29px;
    line-height: 39px;
    color: #5A5A5A;
    margin-bottom: 170px;
    font-family: 'Nunito';
}

.ky-my span {
    font-weight: 600;
}

.skill-h2 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 700;
}

.aboutList li {
    color: #5A5A5A;
    font-weight: 100;
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 25px;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

.aboutList li span {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 7px;
}

.band-box {
    margin-top: 30px;
    display: inline-block;
    width: 170px;
    overflow: hidden;
    height: 170px;
    position: relative;
    margin-right: 10px;
}

.band-box:hover img {
    width: 120%;
    transform: translate(-50%, -50%) rotate(2deg);
    -webkit-transform: translate(-50%, -50%) rotate(2deg);
    -moz-transform: translate(-50%, -50%) rotate(2deg);
    -ms-transform: translate(-50%, -50%) rotate(2deg);
    -o-transform: translate(-50%, -50%) rotate(2deg);
}

.band-box img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
}

@media(max-width:768px) {
    #about ul li {
        font-size: 18px;
        line-height: 26px;
    }
    .skill-h2 {
        font-size: 28px;
    }
    .ky-my {
        margin-bottom: 100px;
        font-size: 23px;
        line-height: 31px;
    }
    .space150 {
        height: 100px;
    }
}

.language-switch {
    position: fixed;
    right: 220px;
    top: 70px;
    width: 70px;
    height: 50px;
}

.language-switch a {
    width: 35px;
    float: left;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9D9D9D;
    text-decoration: none;
}

.language-switch a.active {
    font-weight: 600;
    color: #000;
}

@media(max-width:768px) {
    .language-switch {
        right: 100px;
        top: 45px;
    }
}

.EN:lang(en),
.TR:lang(tr) {
    font-weight: 600;
    color: #000;
}


/* ==========================
        Hamburger Styles
   ==========================  */

#nav-container {
    position: fixed;
    right: 100px;
    top: 70px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 500;
    font-size: 10px;
}

.toggle-icon {
    display: block;
    position: absolute;
    width: 100%;
    -webkit-transition: margin 600ms;
    -moz-transition: margin 600ms;
    transition: margin 600ms;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle-icon .bar {
    display: block;
    width: 3.8em;
    height: 0.2em;
    margin: 0.9em auto;
    border-right: 2.8em solid #000;
    border-left: 0.6em solid #1a1a1a;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
    -moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
    transition-property: transform, margin, border-right-color, box-shadow;
    -webkit-transition-duration: 600ms;
    -moz-transition-duration: 600ms;
    transition-duration: 600ms;
}

.toggle-icon .bar:nth-of-type(1) {
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
}

.toggle-icon .bar:nth-of-type(2) {
    -webkit-transform: rotate(-180deg) translate(0px, 0px);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg) translate(0px, 0px);
}

.toggle-icon .bar:nth-of-type(3) {
    -webkit-transform: rotate(0deg) translate(0px, 0px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg) translate(0px, 0px);
}


/*pushed*/

.pushed .bar:nth-of-type(1) {
    opacity: 0;
}

.pushed .bar:nth-of-type(2) {
    border-right-color: #fff;
    border-left-color: #fff;
    margin: 0.9em auto;
    -webkit-transform: rotate(-137deg) translate(0px, 0px);
    -moz-transform: rotate(-137deg) translate(0px, 0px);
    -ms-transform: rotate(-137deg) translate(0px, 0px);
    -o-transform: rotate(-137deg) translate(0px, 0px);
    transform: rotate(-137deg) translate(0px, 0px);
}

.pushed .bar:nth-of-type(3) {
    margin: 0.9em auto;
    -webkit-transform: translate(0px, -10px) rotate(-42deg);
    -moz-transform: translate(0px, -10px) rotate(-42deg);
    -ms-transform: translate(0px, -10px) rotate(-42deg);
    -o-transform: translate(0px, -10px) rotate(-42deg);
    transform: translate(0px, -10px) rotate(-42deg);
    border-right-color: #fff;
    border-left-color: #fff;
}

.pushed .toggle-icon:hover .bar:nth-of-type(2) {
    border-right-color: #e9b8b9;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(205, 40, 44, 0.75);
}

.pushed .toggle-icon:hover .bar:nth-of-type(3) {
    border-right-color: #ddf1da;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(83, 228, 68, 0.65);
}

body.open-menu {
    overflow: hidden;
}

.sticky .toggle-icon .bar {
    border-right-color: #fff;
    border-left-color: #fff;
}

.menu-wrapper {
    position: fixed;
    background: #000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition: all .3s cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition: all .3s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: all .3s cubic-bezier(0.7, 0, 0.3, 1);
    z-index: 400;
}

.menu-wrapper ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.menu-wrapper ul li {
    position: relative;
    transform: translateY(150px);
    -webkit-transform: translateY(150px);
    -moz-transform: translateY(150px);
    -ms-transform: translateY(150px);
    -o-transform: translateY(150px);
    opacity: 0;
    visibility: hidden;
}

.menu-wrapper ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.menu-wrapper ul li a span.menu-title {
    font-size: 24px;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.menu-wrapper ul li a span.menu-title:after {
    content: '';
    position: absolute;
    width: 101%;
    transition: all .6s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition: all .6s cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition: all .6s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: all .6s cubic-bezier(0.7, 0, 0.3, 1);
}

.menu-wrapper ul li a span.menu-title:after {
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-101%);
    -webkit-transform: translateX(-101%);
    -moz-transform: translateX(-101%);
    -ms-transform: translateX(-101%);
    -o-transform: translateX(-101%);
    background: #fff;
}

.menu-wrapper ul li:hover a span.menu-title:after {
    transform: translate(100%);
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
    -ms-transform: translate(100%);
    -o-transform: translate(100%);
}

.menu-wrapper ul li:hover a span.menu-subTitle {
    opacity: 1;
}

.menu-wrapper ul li a span.menu-subTitle {
    display: block;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 40px;
    opacity: .4;
    font-weight: 100;
    transition: all .6s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition: all .6s cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition: all .6s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: all .6s cubic-bezier(0.7, 0, 0.3, 1);
}

.open-menu .menu-wrapper {
    opacity: 1;
    visibility: visible;
}

.open-menu .menu-wrapper ul li:nth-of-type(1) {
    transition-delay: .2s;
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -o-transition-delay: .2s;
}

.open-menu .menu-wrapper ul li:nth-of-type(2) {
    transition-delay: .5s;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
}

.open-menu .menu-wrapper ul li:nth-of-type(3) {
    transition-delay: .8s;
    -webkit-transition-delay: .8s;
    -moz-transition-delay: .8s;
    -o-transition-delay: .8s;
}

.open-menu .menu-wrapper ul li:nth-of-type(4) {
    transition-delay: 1.1s;
    -webkit-transition-delay: 1.1s;
    -moz-transition-delay: 1.1s;
    -o-transition-delay: 1.1s;
}

.open-menu .menu-wrapper ul li:nth-of-type(5) {
    transition-delay: 1.4s;
    -webkit-transition-delay: 1.4s;
    -moz-transition-delay: 1.4s;
    -o-transition-delay: 1.4s;
}

.open-menu .menu-wrapper ul li {
    transition: all .6s ease-out;
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}

@media(max-width:1200px) {
    #nav-container {
        top: 40px;
        right: 20px;
    }
    .menu-wrapper ul li a span.menu-title {
        font-size: 21px;
    }
    .menu-wrapper ul li a span.menu-subTitle {
        font-size: 11px;
        margin-bottom: 20px;
        opacity: .4;
    }
}


/* =====================
        Custom Grid Layout
   =====================  */

.container {
    width: 90%;
    max-width: 1080px;
    margin: auto;
}
.container-sm {
    width: 90%;
    max-width: 1500px;
    margin: auto;
}

.about-container {
    width: 90%;
    max-width: 1080px;
    margin: auto;
}

.row:after,
.row:before {
    content: '';
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
    /*-- our gutter --*/
    padding: 12px;
    margin-left: -12px;
    margin-right: -12px;
}

.col-4 {
    width: 33.33%;
}

.col-6 {
    width: 50%;
}

.col-12 {
    width: 100%;
}

.col-8 {
    width: 66.66%;
}

@media(max-width:1200px) {
    .col-6,
    .col-8 {
        width: 100%;
    }
    .container {
        max-width: 768px;
    }
}

@media(max-width:768px) {
    .col-4 {
        width: 100%;
    }
    #fp-nav,
    .fp-tableCell .mouse,
    .roadmap-shape {
        display: none !important;
    }
}

.container * {
    box-sizing: border-box;
}


/* =====================
        Footer
   =====================  */

#footer-two {
    height: 140px;
    display: block;
    position: relative;
    width: 100%;
}

.footer-mail,
.footer-phone {
    display: inline-block;
    text-align: left;
}

.footer-mail,
.footer-phone,
.footer-social {
    margin-top: 50px;
}

.footer-mail {
    margin-right: 50px;
    margin-left: 120px;
}

.footer-mail label,
.footer-phone label {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    color: #989898;
    position: relative;
    margin-bottom: 5px;
    font-family: nunito;
}

.footer-mail a,
.footer-phone a {
    display: block;
    font-size: 16px;
    color: #5A5A5A;
    font-weight: 700;
    text-decoration: none;
}

.footer-phone label:after,
.footer-mail label:after {
    content: '';
    width: 0;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background: #989898;
    height: 1px;
    position: absolute;
    transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
}

.footer-mail:hover label::after,
.footer-phone:hover label::after {
    width: 100%;
}

#home .my-main-nav ul li a.more-coming {
    font-size: 50px;
    margin-bottom: 150px;
    height: 60px;
    color: #fff;
    cursor: none;
}

@media(max-width:768px) {
    .footer-mail,
    .footer-phone {
        margin: 0 0 50px 20px !important;
    }
}


/* 
#home .my-main-nav ul li a.more-coming:before {
    content: none;
}

@media(max-width:768px) {
    #home .my-main-nav ul li a.more-coming {
        margin-bottom: -11px;
        height: 150px;
    }
} */

.page-transition-white {
    position: fixed;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    width: 100%;
    height: 100vh;
    z-index: 2000;
    background: #fff;
    left: 0;
    top: 0;
}

.page-transition-black {
    position: fixed;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    width: 100%;
    height: 100vh;
    z-index: 2000;
    background: #000;
    left: 0;
    top: 0;
}

.page {
    transition: all .8s;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -o-transition: all .8s;
    opacity: 0;
    visibility: hidden;
}

.show {
    opacity: 1;
    visibility: visible;
}

.sign-logo-wrapper {
    position: fixed;
    top: 70px;
    left: 100px;
    color: #000;
    z-index: 60;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: #000;
}

.sign-logo {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.sign-logo svg {
    width: 25px;
    left: 7px;
    position: relative;
}

.sign-logo svg g {
    fill: white;
}

@media(max-width:1200px) {
    .sign-logo-wrapper {
        top: 40px;
        left: 20px;
    }
}


/* =====================
        Wrok List styles
   =====================  */

.work-card {
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 200px;
}

.work-card:after {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 2px solid #000;
    transition: all .3s;
}

.work-card:hover:after {
    transform: translate(20px, 20px);
}

.work-img-wrapper {
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
}

.work-img-wrapper:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    transition: all .3s;
}

.work-img-wrapper img {
    width: auto;
    min-width: 100%;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(1);
    transition: all .3s;
}

.work-card:hover .work-img-wrapper:after {
    opacity: 0;
}

.work-card:hover .work-img-wrapper img {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.work-header-wrapper {
    position: absolute;
    bottom: 150px;
    left: -50px;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #fff;
    background: #000;
    padding: 30px 90px;
}

.work-header-wrapper p {
    font-size: 16px;
    margin-top: 8px;
    opacity: 0.6;
    font-weight: 100;
}


/* ==========================
        welcome screen
   ==========================  */

.welcome-screen {
    display: none;
}


/* ==========================
        case list
   ==========================  */

.work-card {
    display: block;
    position: relative;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}

.work-card__image {
    width: 100%;
    height: 220px;
    overflow: hidden;
    filter: grayscale(1);
    -webkit-filter: grayscale(1)
}

.work-card__title {
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
    color: #000;
}

.work-card__title+p {
    font-size: 12px;
    margin-top: 5px;
    font-weight: 100;
    color: #000;
}

.not-finished {
    margin-left: 15px;
    margin-right: 15px;
    background-color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}


/* ==========================
        heading & text
   ==========================  */

.k-h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 41px;
    padding-bottom: 40px;
}

.k-h5 {
    font-size: 21px;
    font-weight: 700;
    line-height: 29px;
    padding-bottom: 7px;
}

.k-p {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    padding-bottom: 20px;
}

.k-p2 {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}


/* ==========================
        spaces
   ==========================  */
.p-20{
    padding: 20px;
}
.pr-20{
    padding-right: 20px;
}
.pl-20{
    padding-left: 20px;
}
.pt-20{
    padding-top: 20px;
}
.pb-20{
    padding-bottom: 20px;
}
.ph-20{
    padding-left: 20px;
    padding-right: 20px;
}
.pv-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.p-40 {
    padding: 40px;
}

.pt-40 {
    padding-top: 40px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pl-40 {
    padding-left: 40px;
}

.pr-40 {
    padding-right: 40px;
}

.ptb-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.plr-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.m-40 {
    margin: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.ml-40 {
    margin-left: 40px;
}

.mr-40 {
    margin-right: 40px;
}

.mtb-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mlr-40 {
    margin-left: 40px;
    margin-right: 40px;
}


/* ==========================
            Button
   ==========================  */

.button {
    padding: 12px 50px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.button>span {
    display: inline-block;
    position: relative;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -o-transition: transform 0.3s;
}

.button>span>i {
    position: absolute;
    right: 0;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: opacity 0.3s, right 0.3s;
    -webkit-transition: opacity 0.3s, right 0.3s;
    -moz-transition: opacity 0.3s, right 0.3s;
    -o-transition: opacity 0.3s, right 0.3s;
}

.button:hover {
    background-color: black;
    color: white;
}

.button:hover>span {
    transform: translate3d(-1em, 0, 0);
    -webkit-transform: translate3d(-1em, 0, 0);
    -moz-transform: translate3d(-1em, 0, 0);
    -o-transform: translate3d(-1em, 0, 0);
}

.button:hover>span>i {
    opacity: 1;
    right: -2.5em;
}

.btn-arrow-icon {
    background: url('/img/icon-right-white.svg') no-repeat center center;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 18px;
}


/* ==========================
            FONTS
   ==========================  */

.aboutIntro {
    font-size: 21px;
    color: #5A5A5A;
    font-weight: 100;
    font-family: 'Nunito';
    line-height: 33px;
}

.aboutIntro span {
    font-weight: 600;
}

.aboutIntro h3,
.aboutIntro h1 {
    display: inline-block;
    font-weight: 600;
}

.title {
    font-size: 23px;
    color: #000;
    font-weight: 600;
    font-family: 'Montserrat';
    line-height: 30px;
    margin-bottom: 14px;
}

.text {
    font-size: 16px;
    color: #5A5A5A;
    font-weight: 100;
    font-family: 'Nunito';
    line-height: 27px;
}

.text span {
    font-weight: 600;
}
#home.work{
    background: #fff;
    overflow: auto;
}
#home.work .my-brand-wrapper{
    position: fixed;
}
.bg-dark{
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color:#000 ;
    z-index: -1;
}
#home.work .my-main-lines .vline{
    background-color: rgba(000, 000, 000, 0.10);
}
.my-main-lines .vline::after{
    content: none;
}
#home.work .my-main-nav{
    right: calc(50% + 50px);
    bottom: 32px;
    position: fixed;
}
#home.work .my-main-nav ul li a{
    font-size: 41px;
}
#home.work .my-main-nav ul li{
    margin-top: 2vh;
}
#home.work .my-main-social{
    position: fixed;
    bottom: 30px;
    left: 100px;   
    right: inherit;
}
#home.work .my-main-social li{
    margin-right: 25px;
    margin-left: inherit;
}
#home.work .sign-logo-wrapper{
    display: none;
}
.works-list-container{
    position: absolute;
    width: 50%;
    right: 0;
    top: 25vh;
    z-index: 5;
    text-align: center;
}
.works-list-wrapper{
    margin: 0 80px;
}
.works-list-wrapper:after{
    content: '';
    display: block;
    clear: both;
}

.work-list-2-grid .work-item{
    width: 50%;
    display: inline-block;
    margin-bottom: 140px;
    text-decoration: none;
    height: 350px;

}
.work-list-2-grid .work-item.one-item{
    width: 100%;
}
.works-list-container .work-item.one-item .img-wrapper{
    overflow: hidden;
}
.works-list-container img{
    width:100%;
}
.tilt-wrapper{
    margin: 16px;
    position: relative;
}
.works-list-container .img-wrapper{
    position: relative;
    height: auto;
    overflow: hidden;
}
.works-list-container .work-item .img-shadow {  
    background: url(../img/item-shadow.png) no-repeat center center;  
    background-size: 100% 100%;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    height: 130px;
    z-index: -1;
}
.empty-item-1{
    height: 10px !important;
}
.empty-item-2{
    height: 50px !important;
}
.works-list-container .img-wrapper img{
    width: 100%;
}
.works-list-container .content-wrapper{
    text-align: left;
}
.mb-0{
    margin-bottom: 0 !important;
}
.works-list-container .tilt-wrapper .content-wrapper{
    margin-top: 50px;
}
.works-list-container .tilt-wrapper .content-wrapper .title{
    font-size:24px;
    color:#434343;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-weight: 600;
}
.works-list-container .tilt-wrapper .content-wrapper .subtitle{
    font-size:14px;
    color:#898989;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-top: -6px;
    letter-spacing: 0.2px;
    font-weight: 300;
}
@media(max-width:1200px){
    #home.work .my-brand-wrapper{
        display: none;
    }
    #home.work .my-main-nav{
        top: 0;
    bottom: inherit;
    left: 20px;
    right: inherit;
    }
    #home.work .my-main-nav ul{
        text-align: left;
    }
    #home.work .bg-dark{
        width: calc(100% - 90px);
        height: 130px;
        z-index: 10;
    }
    #home.work .my-main-nav ul li{
        margin-right: 24px;
    }
    #home.work .my-main-nav ul li a{
        font-size:18px;
    }
    #home.work .my-main-nav ul li{
        margin-top: 17px;
    }
    #home.work .my-main-lines .vline:nth-of-type(1){
        right: 20vw;
    }
    #home.work .my-main-lines .vline:nth-of-type(2){
        right: 40vw;
    }
    #home.work .my-main-lines .vline:nth-of-type(3){
        right: 60vw;
    }
    #home.work .my-main-lines .vline:nth-of-type(4){
        right: 80vw;
    }
    #home.work .my-main-lines .vline:nth-of-type(5){
        right: 100vw;
    }
    #home.work .my-main-social{
        display: none;
    }
    .works-list-container{
        width: 100%;
    }
    .works-list-wrapper{
        margin: 0 20px;
    }
}
@media (max-width: 600px){
.my-main-lines {
    display: block;
}}
@media(max-width:768px){
    .work-list-2-grid .work-item{
        width: 100%;
    }
}
.tags{    
    font-size: 14px;
    color: #898989;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-top: -6px;
    letter-spacing: 0.2px;
    font-weight: 300;
}

.portfolio-detail .page-transition-white{
    z-index: 1100;
}
.portfolio-detail .page-transition-black{
    z-index: 1000;
}
.work-back{
    background: #000;
    position: fixed;
    top: 70px;
    left: 160px;
    color: #fff;
    width: 80px;
    line-height: 50px;
    height: 50px;
    text-align: center;
    z-index: 10;
    text-decoration: none;
}
@media(max-width:1200px){
    .work-back{
        top: 40px;
        left: 80px;
    }
    .detail-img-wrapper.pr-20{
        padding-right: 0px;
    }
    .detail-img-wrapper.pl-20{
        padding-left: 0px;
    }
}
.w-200px{
    width: 200px;
}
.text-center{
    text-align: center;
}
.detail-subtitle{
    font-weight: 600;
    color:#555;
    font-size: 14px;
}
.mission-list{
    margin: 10px 0;
}
.mission-list li{
    margin: 15px 0;
    color:#7d7d7d;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}
.img-text{font-size: 10px;
    color: #898989;
    margin-top: 10px;
}

.h5{color: #000;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.detail-li{
    font-size: 16px;
    color: #5A5A5A;
    font-weight: 100;
    font-family: 'Nunito';
    line-height: 27px;
    list-style: circle;
    padding-left: 19px;
}
.work-list-2-grid .work-item.full{
    width: 100%;
}
@media(max-width:768px){
    #footer-two{
        height: 55px;
    }
}
@media(max-width:390px){
    #footer-two{
        height: 140px;
    }
}