_site
.sass-cache
.jekyll-metadata
img/portfolio/mindturtle/.DS_Store
.DS_Store
.DS_Store
img/.DS_Store
img/portfolio/.DS_Store
.DS_Store
.DS_Store
img/.DS_Store
img/portfolio/.DS_Store
img/.DS_Store
img/portfolio/.DS_Store
