---
---
ErrorDocument 404 /404.html

<IfModule mod_rewrite.c>

DirectoryIndex index.html

RewriteEngine On
RewriteBase /

{% for post in site.posts %}
{% for link in post.old %}
RewriteRule ^{{ link }} {{ post.permalink }} [R=301,L]
{% endfor %}
{% endfor %}

</IfModule>