<footer id="footer">
    <div class="social-icons transition6s">
        <ul>
            <li>
                <a href="https://www.facebook.com/kerem.yigit.566" target="_blank"><i class="demo-icon">&#xe804;</i></a>
            </li>
            <li>
                <a href="https://twitter.com/benboyleritimin" target="_blank"><i class="demo-icon">&#xe803;</i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/kerem__ygt/" target="_blank"><i class="demo-icon">&#xe800;</i></a>
            </li>
            <li>
                <a href="https://www.behance.net/keremyigitec83" target="_blank"><i class="demo-icon">&#xe801;</i></a>
            </li>
            <li>
                <a href="https://dribbble.com/Rilley" target="_blank"><i class="demo-icon">&#xe802;</i></a>
            </li>
        </ul>
    </div>
</footer>