<header>
    <div class="h-menu">
        <span>menu</span>
    </div>
    <nav class="menu-wrapper">
        <ul>
            <li><a href="javascript:void();" id="headerToHome"><span class="menu-title">Home</span> <span
                        class="menu-subTitle">You want to go home page</span></a></li>
            <li><a href="javascript:void();" id="headerToAbout"><span class="menu-title">About Me</span> <span
                        class="menu-subTitle">Who am i, what am i doing?</span></a></li>
            <!-- <li><a href="javascript:void();" id="headerToCase"><span class="menu-title">Case Studies</span> <span class="menu-subTitle">Explorer to my portfolio</span></a></li> -->
            <li><a href="mailto:hello@keremyigit.com" id="headerToHome"><span class="menu-title">Contact</span> <span
                        class="menu-subTitle">Get in touch and find me</span></a></li>
        </ul>
    </nav>
</header>