<header id="header-two">
    <nav>
        <div class="my-header-logo vertical-center">
            <a href="javascript:void(0);" id="nav-to-home"><img src="/img/my-logo.jpg" alt=""></a>
        </div>
        <div class="my-header-scroll-logo">
            <a href="javascript:void(0);" id="nav-to-home"><img src="/img/k-logo-black.png" alt="" class="k-logo-black"><img src="/img/k-logo-white.png" alt="" class="k-logo-white"></a>
        </div>
        <div class="nav-two vertical-center">
            <ul>
                <li class="transition6s"><a href="javascript:void(0)" id="nav-about" class="dark-grey">ABOUT</a></li>
                <li class="transition6s"><a href="javascript:void(0)" id="nav-process" class="dark-grey">UX PROCESS</a></li>
                <!-- <li class="transition6s"><a href="javascript:void(0)" id="nav-case-studies" class="dark-grey">CASE STUDIES</a></li> -->
                <li class="transition6s"><a href="mailto:hello@keremyigit.com" class="dark-grey">CONTACT ME</a></li>
            </ul>
        </div>
        <a class="ky-menu">
            <span></span>
        </a>
        <div class="mobile-nav">
            <ul>
                <li class="transition6s"><a href="javascript:void(0)" id="nav-home-mobile" class="dark-grey" data-text="HOME">HOME</a></li>
                <li class="transition6s"><a href="javascript:void(0)" id="nav-about-mobile" class="dark-grey" data-text="ABOUT">ABOUT</a></li>
                <li class="transition6s"><a href="javascript:void(0)" id="nav-process-mobile" class="dark-grey" data-text="UX&nbsp;PROCESS">UX PROCESS</a></li>
                <!-- <li class="transition6s"><a href="javascript:void(0)" id="nav-case-studies" class="dark-grey" data-text="CASE&nbsp;STUDIES">CASE STUDIES</a></li> -->
                <li class="transition6s"><a href="mailto:hello@keremyigit.com" class="dark-grey" data-text="CONTACT&nbsp;ME">CONTACT ME</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="ky-loading">
    <div id="preloader"></div>
</div>
<div class="page-transition-wrapper-white">
    <div class="pt-1"></div>
    <div class="pt-2"></div>
</div>