---
layout: case-studies
permalink: case-studies
---
<div class="container">
    <div class="row">
        <div class="col-12">
            {% for case-studies in site.pages %} {% if case-studies.type == 'caseTr' %}
            <a href="{{case-studies.permalink}}" class="case-card">
                <div class="case-img-wrapper">
                    <img src="{{case-studies.image}}" alt="">
                </div>
                <div class="case-header-wrapper">
                    <h2>{{case-studies.title}}</h2>
                    <p>{{case-studies.subtitle}}</p>
                </div>
            </a>
            {% endif %} {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4 class="not-finished">Not Finished</h4>
        </div>
    </div>
    <div class="row">
        {% for works in site.pages %} {% if works.type == 'work' %}
        <div class="col-4">
            <a href="#" class="work-card">
            <div class="work-card__image">
                <img src="{{works.image}}" class="w-100"/>
            </div>
                <h3 class="work-card__title">{{works.title}}</h3>
                <p>{{works.tags}}</p>
            </a>
        </div>
        {% endif %} {% endfor %}
    </div>
</div>