---
layout: default
---
<section>
    <div class="about-container">
        <div class="row">
            <div class="space150"></div>
            <div class="space150"></div>
            <div class="col-8">
                <p class="aboutIntro anim">{{ page.introText | newline_to_br }}</p>
            </div>
        </div>
        <div class="space50"></div>
        <div class="row">
            <div class="col-8">
                <h2 class="title anim">{{ page.nextluaTitle }}</h2>
                <p class="aboutIntro anim">{{ page.nextluaContent | newline_to_br }}</p>
            </div>
        </div>
        <div class="space50"></div>
        <div class="row">
            <div class="col-8">
                <h2 class="title anim">{{ page.ubigTitle }}</h2>
                <p class="aboutIntro anim">{{ page.ubigContent | newline_to_br }}</p>
            </div>
        </div>
        <div class="space50"></div>
        <div class="row">
            <div class="col-8">
                <h2 class="title anim">{{ page.howIWorkTitle }}</h2>
                <p class="aboutIntro anim">{{ page.howIWorkContent | newline_to_br }}</p>
            </div>
        </div>
        <div class="space150"></div>
        <div class="row">
            <div class="col-12">
                <h2 class="title anim">{{ page.skillsTitle }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <ul class="aboutList anim">
                    <li><span>{{ page.skillsList1Title }}</span></li>
                    {{ page.skillsList1Content }}
                </ul>
            </div>
            <div class="col-4">
                <ul class="aboutList anim">
                    <li><span>{{ page.skillsList2Title }}</span></li>
                    {{ page.skillsList2Content }}
                </ul>
            </div>
            <div class="col-4">
                <ul class="aboutList anim">
                    <li><span>{{ page.skillsList3Title }}</span></li>
                    {{ page.skillsList3Content }}
                </ul>
            </div>
        </div>
        <div class="space50"></div>
        <div class="row">
            <div class="col-8">
                <h2 class="title anim">{{ page.storyTitle }}</h2>
                <p class="aboutIntro anim">{{ page.storyContent | newline_to_br }}</p>
            </div>
        </div>
        <div class="space50"></div>
        <div class="row">
            <div class="col-8">
                <hr style="border-top: 1px solid #dbdbdb; margin: 30px 0;">
                <p class="aboutIntro anim">{{ page.contactText }}</p>
                
            </div>
        </div>
    </div>
    <div class="space150"></div>
</section>
<!-- Scripts -->
<script src="{{ site.baseurl }}/js/about.js"></script>
