<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/css/reset.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,500|Vollkorn:400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/css/style-sub-page.css" />
</head>

<body>

    {%- include header-two.html -%}
    <div class="space-120"></div>
    <div class="space-120"></div>
    <main>
        <section id="about">
            <div class="about-container">
                <div class="row">
                    <div class="col-12">
                        <span class="ky-hey">HEY</span>
                        <h4 class="ky-my">My name is <span>Kerem</span>, I’m a Turkey based <span>UI/UX Designer & UI Developer</span> with 5+ years of experience.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h2>About Me</h2>
                    </div>
                    <div class="col-8">
                        <p>Profesyonel tasarım hayatını ilk olarak lise yıllarımda teknik resim ile tanıdım, ardından istanbul üniversitesi elektronik haberleşme bitirdikten sonra teknik çizim yapabileceğim bir iş bulma hayali ile bir çok şirkette çalıştım.
                            2013 yılında e-ticaret ile tanıştıktan sonra tüm ilgim bilişim sektöründe tasarım ve yazılıma kaymaya başladı. O yıl boyunca kendimi tasarım, SEO ve front-end koflarında geliştirirken, 2014 yılında sherpa aracılığı ile kullanıcı
                            deneyimi kavramını keşfettim.</p>
                        <p>O yılından itibaren de arayüz geliştirme ve kullanıcı deneyimi üzerine çalıştım. Bu süre boyunca kendimi HTML, CSS ve Javascript üzerine geliştirmeye devam ettim. Aynı zamanda SEO, marka kimliği ve sosyal medya konularında da danışmanlıklar
                            verdim.
                        </p>
                        <p>Kendimi geliştirmeyi, insan-odaklı tasarımı benimsemeyi her zaman değişmez bir kural olarak gördüm, zamanla ‘bunu neden böyle yaptın?’ sorularına veriye dayalı cevaplar vermeye başladım.</p>
                        <p>Mobil uygulamalar, kurumsal ve e-ticaret siteleri, ERP, CRM projeleri, intranet, portfolyo siteleri gibi birçok projede freelancer, yarı-zamanlı ya da tam-zamanlı olarak çalıştım.</p>
                        <p>Birçok start-up ile birlikte çalışmanın yanında kendi kendi projelerimiz de hali hazırda devam etmektedir.</p>
                        <a href="#" target="_blank" class="btn-arrow">Resume</a>
                    </div>
                </div>
                <div class="space-100"></div>
                <div class="space-100"></div>
                <div class="row">
                    <div class="col-4">
                        <h2 class="skill-h2">Skills</h2>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li>User Researching</li>
                            <li>Discovery & Needs Analysis</li>
                            <li>Conversion Optimization</li>
                            <li>User Experience Strategy & Design</li>
                            <li>User Interface Design</li>
                            <li>Interaction & Motion Design</li>
                            <li>Wireframing & Prototyping</li>
                            <li>Information Architecture</li>
                            <li>Usability Testing</li>
                            <li>Persona & Stroyboarding</li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li>HTLM5 / CSS3</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>Wordpress</li>
                            <li>Jekyll</li>
                            <li>Bootstrap</li>
                        </ul>
                    </div>
                </div>
                <div class="space-100"></div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <a href="#" class="btn-arrow big-btn">UX PROCESS</a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="btn-arrow big-btn-2">CASE STUIES</a></div>
                </div>
            </div>
        </section>
    </main>
    <div class="space-100"></div>
    <div class="space-100"></div>
    {%- include footer-two.html -%}
</body>
<script src="{{ site.baseurl }}/js/jquery-2.1.4.js"></script>
<script src="{{ site.baseurl }}/js/about.js"></script>

</html>