<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body id="work-studies" class="page">
    {% include header.html %}
    <section>
        <div class="sign-logo-wrapper js-scene">
            <p class="sign-logo layer" data-depth="0.4">K</p>
        </div>
        <div class="space150"></div>
        <div class="space150"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {{ content }} Blog Listesi
                </div>
            </div>
        </div>
        <div class="space150"></div>
        {% include footer.html %}
    </section>
    <div class="page-transition-white"></div>
    <div class="page-transition-black"></div>
</body>
<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/2.1.3/parallax.min.js"></script>
<script src="{{ site.baseurl }}/js/work.js"></script>

</html>