<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
    <script src="/js/main.js"></script>
</head>

<body>
    {%- include header.html -%}
    <main>
        <section id="home">
            <div class="top-dark"></div>
            <ul class="flyin">
                <li>U</li>
                <li>I</li>
                <li>&nbsp;</li>
                <li>/</li>
                <li>&nbsp;</li>
                <li>U</li>
                <li>X</li>
                <li>&nbsp;</li>
                <li>D</li>
                <li>E</li>
                <li>S</li>
                <li>I</li>
                <li>G</li>
                <li>N</li>
                <li>&nbsp;</li>
                <li>&</li>
                <li>&nbsp;</li>
                <li>U</li>
                <li>I</li>
                <li>&nbsp;</li>
                <li>D</li>
                <li>E</li>
                <li>V</li>
                <li>E</li>
                <li>L</li>
                <li>O</li>
                <li>P</li>
                <li>E</li>
                <li>R</li>
            </ul>
            <div class="bottom-dark"></div>
        </section>
        <section id="about">
            about
        </section>
    </main>
    {%- include footer.html -%}


</body>

</html>