<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta itemprop="description" name="description"
        content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
    <title>{%if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}
    </title>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/css/reset.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Nunito:300,400&display=swap">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/css/fullpage.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/css/style-sub-page.css" />
    {% include analytics.html %}
    <meta name="robots" content="noindex nofollow">
</head>


<body class="process page">


    {% include header.html %}
    <main id="fullpage">
        <section class="section" data-anchor="first-section">
            <div class="mouse">
                <div class="scroll"></div>
            </div>
            <div class="roadmap-shape"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h5 class="font-24-dark-grey margin-bottom-10">Step by Step</h5>
                        <h1 class="font-82-dark-grey margin-bottom-30">UI / UX Roadmap</h1>
                        <p class="font-34-dark-grey">Kullanıcı deneyimi yaklaşımı dijital ürününüzü yaratmanıza yardımcı
                            olur.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="mouse">
                <div class="scroll"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <span class="font-process-number margin-bottom-50">01.</span>
                        <h2 class="font-55-white margin-bottom-10">Keşfet</h2>
                        <h6 class="font-24-white">Proje kapsamını doğru tanımlamak için “Hangi noktadayız, ne yapmak
                            istiyoruz, neden yapmak istiyoruz, ne yapmalıyız ve nasıl yapacağız?” sorularını süreç
                            boyunca yanıtlamayı, projenin başarılı olması yolunda en önemli aşama olarak
                            görürüz.
                        </h6>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="mouse">
                <div class="scroll"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h3 class="font-40-black margin-bottom-25">1. Workshops</h3>
                        <hr class="process-line margin-bottom-25">
                        <p class="font-24-dark-grey margin-bottom-20">İş hedefleri, kısıtlamaları ve potansiyelleri
                            hakkında bilgi toplama, kullanıcılar, kaynaklar, pazar, proje tanıtımı.</p>
                        <p class="font-16-dark-grey margin-bottom-30"><span class="bold">TOOLS: </span>Lean Canvas,
                            Business Model Canvas, İlk İzlenim Çalıştayı, Sezgisel Analiz, Empati Haritası</p>
                        <p class="font-16-dark-grey margin-bottom-50">Amacımız ve hedeflerimiz neler? Kısıtlarımız
                            neler? Hangi kaynakları kullanılabiliriz? Ürün oluştururken akılda tutulması gerekenler
                            nelerdir? Ürünün eşsiz değer önerisi nedir? Hali hazırda saptanmış bilgiler neler? Hangi
                            platformlar
                            için tasarım yapılacak? Hedef kitle kim? Hedef kitle nasıl segmente edilmiş? Proje rolleri
                            nedir? </p>
                        <div class="font-30-dark-grey margin-bottom-20">Çıktılar</div>
                        <ul class="process-list">
                            <li>Ürünün tutarlı vizyonu</li>
                            <li>Proje gereksinimleri.</li>
                            <li>Ürün ve özelliklerine bütünsel bakış (Sezgisel analiz raporu).</li>
                            <li>Ürünün şeklini belirleyen faktörlerin belirlenmesi.</li>
                            <li>Kapsamlı proje planı</li>
                        </ul>
                    </div>
                    <div class="col-6 hidden-responsive ">
                        <div class="icon-container">
                            <div class="icon-wrapper">
                                <div class="workshop-icon process-icons">Workshop ikonu</div>
                            </div>
                            <span class="right-icon-line">empty line</span>
                            <span class="left-icon-line">empty line</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="mouse">
                <div class="scroll"></div>
            </div>
            <div class="container">
                <div class="row reverse-column">
                    <div class="col-6 hidden-responsive ">
                        <div class="icon-container">
                            <div class="icon-wrapper">
                                <div class="analysis-icon process-icons">Rakip Analizi ikonu</div>
                            </div>
                            <span class="right-icon-line">empty line</span>
                            <span class="left-icon-line">empty line</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <h3 class="font-40-black margin-bottom-25">2. Araştırma ve Rakip Analizi</h3>
                        <hr class="process-line margin-bottom-25">
                        <p class="font-24-dark-grey margin-bottom-20">Rakip analizi, dijital kanalların kalitatif ve
                            kantitatif analizi, </p>
                        <p class="font-16-dark-grey margin-bottom-50">Rakipler kimler? Neyi daha iyi yapıyorlar? Neyi
                            onlardan daha iyi yapabiliriz? Onların hatalarından neler öğrenilebilir? Avantajları neler?
                            Onlara kıyasla avantajlarımız neler? Onlardan farklılaşmayı nasıl planlıyoruz?
                        </p>
                        <div class="font-30-dark-grey margin-bottom-20">Çıktılar</div>
                        <ul class="process-list">
                            <li>Pazarda rekabet etme stratejisi</li>
                            <li>İyi ve kötü modeller - kıyaslamalar</li>
                            <li>Rakip analizi raporu</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="mouse">
                <div class="scroll"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h3 class="font-40-black margin-bottom-25">3. Kullanıcı Araştırmaları & İçgörü Toplama</h3>
                        <hr class="process-line margin-bottom-25">
                        <p class="font-24-dark-grey margin-bottom-20">Kullanıcılar hakkında bilgi toplama, hedeflerini,
                            davranışlarını, motivasyonlarını, karar verme süreçlerini, bilgilerini ve problemlerini
                            öğrenme.</p>
                        <p class="font-16-dark-grey margin-bottom-30"><span class="bold">TOOLS: </span>Birebir
                            görüşmeler, kullanıcı ile bir gün, anketler, bağlamsal görüşme, gözlemler.
                        </p>
                        <p class="font-16-dark-grey margin-bottom-50">Potansiyel kullanıcılarınız kimler? Neye
                            ihtiyaçları var? Ürünü nasıl kullanacaklar? Beklentileri neler? Çözüme ihtiyaçları olan
                            problemleri neler? Rekabetçi çözümleri kullanıyorlar mı? Onları nasıl ve neden
                            kullanıyorlar?</p>
                        <div class="font-30-dark-grey margin-bottom-20">Çıktılar</div>
                        <ul class="process-list">
                            <li>Personalar</li>
                            <li>Kullanıcı hikayeleri</li>
                            <li>Araştırma sonuç raporu</li>
                            <li>Kullanıcı yolculuğu haritası</li>
                        </ul>
                    </div>
                    <div class="col-6 hidden-responsive ">
                        <div class="icon-container">
                            <div class="icon-wrapper">
                                <div class="research-icon process-icons">Kullanıcı araştırmaları ikonu</div>
                            </div>
                            <span class="right-icon-line"></span>
                            <span class="left-icon-line"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="mouse">
                <div class="scroll"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <span class="font-process-number margin-bottom-50">02.</span>
                        <h2 class="font-55-white margin-bottom-10">Düşün</h2>
                        <h6 class="font-24-white">Keşif aşamasında elde ettiğimiz bulguları derinlemesine analiz edip
                            yapılandırarak, bizi gitmek istediğimiz noktaya götürecek en etkin yolu tanımlamak, tasarım
                            sürecinin doğru temellere oturması için vazgeçilmezdir.
                        </h6>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="mouse">
                <div class="scroll"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h3 class="font-40-black margin-bottom-25">1. Problemi Tanımlama</h3>
                        <hr class="process-line margin-bottom-25">
                        <p class="font-24-dark-grey margin-bottom-20">Toplanan tüm bilgilerin analizi, hipotez backlog,
                            strateji geliştirme, marka kişiliği, kullanıcı tipleri ve yetkileri. </p>
                        <p class="font-16-dark-grey margin-bottom-30"><span class="bold">TOOLS: </span>Marka kişliği
                            çalıştayı, Brainstorming, Ideations prompts, What if … prompts.
                        </p>
                        <p class="font-16-dark-grey margin-bottom-50">Potansiyel kullanıcılarınız yaşadığı problemler
                            neler? Biz bu problemelere nasıl çözümler üretebiliriz? Markanızın dili ne olmalı?
                            Hipotezlerimiz neler? Yol haritamızı yeniden güncellemeli miyiz?</p>
                        <div class="font-30-dark-grey margin-bottom-20">Çıktılar</div>
                        <ul class="process-list">
                            <li>Hipotez backlog</li>
                            <li>Marka kişiliği haritası</li>
                            <li>Kullanıcı tipleri ve yetkileri matrisi</li>
                        </ul>
                    </div>
                    <div class="col-6 hidden-responsive">
                        <div class="icon-container">
                            <div class="icon-wrapper">
                                <div class="defination-icon process-icons">Problem Tanımlama İkonu</div>
                            </div>
                            <span class="right-icon-line"></span>
                            <span class="left-icon-line"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="mouse">
                <div class="scroll"></div>
            </div>
            <div class="container">
                <div class="row reverse-column">
                    <div class="col-6 hidden-responsive">
                        <div class="icon-container">
                            <div class="icon-wrapper">
                                <div class="storyboard-icon process-icons">storyboard ikonu</div>
                            </div>
                            <span class="right-icon-line"></span>
                            <span class="left-icon-line"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <h3 class="font-40-black margin-bottom-25">2. Kullanıcı Senaryoları, Akışlar
                        </h3>
                        <hr class="process-line margin-bottom-25">
                        <p class="font-24-dark-grey margin-bottom-20">Ürünü kullanırken olası kullanıcı yollarını
                            tanımlama. Temel ekranların ilk taslaklarını oluşturma.</p>
                        <p class="font-16-dark-grey margin-bottom-30"><span class="bold">TOOLS: </span>User flows, Story
                            boards, Lo-Wi Wireframe, Overflow.io
                        </p>
                        <p class="font-16-dark-grey margin-bottom-50">Kullanıcılar ürünü kullanırken nasıl davranacak?
                            Kaç tane kullanıcı yolu tanımlayabiliriz? Kullanıcılar ana görevleri gerçekleştirmek için
                            adım adım ne yapacak? Olası kullanıcı senaryoları nelerdir? Ürünü kullanmanın olası yolları
                            nelerdir? Ürünü kullanma bağlamı nedir?</p>
                        <div class="font-30-dark-grey margin-bottom-20">Çıktılar</div>
                        <ul class="process-list">
                            <li>User flows - Kullanıcıların ürünü kullanırkenki yolların tanımı.</li>
                            <li>Lo-Wi Wireframe - Ekranların en temel tasarım kalıpları.</li>
                            <li>Kullanıcı hikayeleri</li>
                            <li>Müşteri yolculuğu haritası</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="mouse">
                <div class="scroll"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h3 class="font-40-black margin-bottom-25">3. Bilgi Mimarisi</h3>
                        <hr class="process-line margin-bottom-25">
                        <p class="font-24-dark-grey margin-bottom-20">Kapsamın şimdiye kadar toplanan bilgiler temelinde
                            ayarlanması. </p>
                        <p class="font-16-dark-grey margin-bottom-30"><span class="bold">TOOLS: </span>Card Sorting,
                            Tree Test, Flows, Site map, mind mapping
                        </p>
                        <p class="font-16-dark-grey margin-bottom-50">Hangi özellikler gereklidir? MVP (Minimum Viable
                            Product) nedir? Hangi özellikler erken müşteri memnuniyeti ve geri bildirim sağlamak ve
                            gelecekte ürünü geliştirmek için çok önemlidir? Bir sonraki aşamada ne yapılabilir?</p>
                        <div class="font-30-dark-grey margin-bottom-20">Çıktılar</div>
                        <ul class="process-list">
                            <li>Site Haritası</li>
                            <li>Kategori Ağacı</li>
                            <li>İçerik Mimarisi</li>
                            <li>Sistem Mimarisi</li>
                        </ul>
                    </div>
                    <div class="col-6 hidden-responsive">
                        <div class="icon-container">
                            <div class="icon-wrapper">
                                <div class="architecture-icon process-icons">Bilgi mimarisi İkonu</div>
                            </div>
                            <span class="right-icon-line"></span>
                            <span class="left-icon-line"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="mouse">
                <div class="scroll"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <span class="font-process-number margin-bottom-50">03.</span>
                        <h2 class="font-55-white margin-bottom-10">Tasarla</h2>
                        <h6 class="font-24-white">Keşif aşamasında elde ettiğimiz bulguları derinlemesine analiz edip
                            yapılandırarak, bizi gitmek istediğimiz noktaya götürecek en etkin yolu tanımlamak, tasarım
                            sürecinin doğru temellere oturması için vazgeçilmezdir.
                        </h6>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="mouse">
                <div class="scroll"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h3 class="font-40-black margin-bottom-25">1. Prototip ve Etkileşimler</h3>
                        <hr class="process-line margin-bottom-25">
                        <p class="font-24-dark-grey margin-bottom-20">Ürünün belirli kısımlarının görsel sunumu. </p>
                        <p class="font-16-dark-grey margin-bottom-30"><span class="bold">TOOLS: </span>Hi-Fi Mockups,
                            Adobe XD
                        </p>
                        <p class="font-16-dark-grey margin-bottom-50">Hangi ekranlara ihtiyacımız var? Ekrana belirli
                            elemanlar nasıl yerleştirilir? Hangi bilgiler vurgulanmalı? Çözüm olası tüm kullanıcı
                            senaryolarını kapsıyor mu?</p>
                        <div class="font-30-dark-grey margin-bottom-20">Çıktılar</div>
                        <ul class="process-list">
                            <li>Hi-Fi Mockups</li>
                            <li>Style guide şablonu</li>
                            <li>Etkileşim Haritası</li>
                        </ul>
                    </div>
                    <div class="col-6 hidden-responsive ">
                        <div class="icon-container">
                            <div class="icon-wrapper">
                                <div class="prototype-icon process-icons">Prototip ikonu</div>
                            </div>
                            <span class="right-icon-line"></span>
                            <span class="left-icon-line"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="mouse">
                <div class="scroll"></div>
            </div>
            <div class="container">
                <div class="row reverse-column">
                    <div class="col-6 hidden-responsive">
                        <div class="icon-container">
                            <div class="icon-wrapper">
                                <div class="user-test-icon process-icons">storyboard ikonu</div>
                            </div>
                            <span class="right-icon-line"></span>
                            <span class="left-icon-line"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <h3 class="font-40-black margin-bottom-25">2. Kullanıcı Testleri & Ürün Geliştirme
                        </h3>
                        <hr class="process-line margin-bottom-25">
                        <p class="font-24-dark-grey margin-bottom-20">Fikrin sezgisel ve izleyici için çekici olup
                            olmadığını kontrol etmek. Hataların belirlenmesi, prototipi uygulamadan önce optimize etmek.
                        </p>
                        <p class="font-16-dark-grey margin-bottom-30"><span class="bold">TOOLS: </span>Kullanılabilirlik
                            testleri, A/B Testleri,
                        </p>
                        <p class="font-16-dark-grey margin-bottom-50">Bu çözüm optimal mi? kullanıcılar ürününüze nasıl
                            tepki veriyor? Kullanıcıların belirli görevleri tamamlamaları ne kadar kolay? Yazılım
                            aşamasından önce neleri geliştirebiliriz?
                        </p>
                        <div class="font-30-dark-grey margin-bottom-20">Çıktılar</div>
                        <ul class="process-list">
                            <li>Arayüz yerleşimindeki hatalar</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="mouse">
                <div class="scroll"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h3 class="font-40-black margin-bottom-25">3. Arayüz Tasarımı</h3>
                        <hr class="process-line margin-bottom-25">
                        <p class="font-24-dark-grey margin-bottom-20">Ürünün son görünümünü yaratmak. </p>
                        <p class="font-16-dark-grey margin-bottom-30"><span class="bold">TOOLS: </span>Adobe XD,
                            Photoshop, Illustrator
                        </p>
                        <p class="font-16-dark-grey margin-bottom-50">Son görünüm ve kullanım, kullanıcılara uygun mu?
                            Bu aşamada kullanılabilirlik ile ilgili bir problem var mı? Nihai tasarım ürünün vizyonuyla
                            uyumlu mu? Etkileşimli öğeler benzer mi görünüyor? Harekete geçirme çağrısı (CTA - Call
                            to Action) doğru şekilde mi vurgulanıyor? Öğelerin hiyerarşisi doğru mu?</p>
                        <div class="font-30-dark-grey margin-bottom-20">Çıktılar</div>
                        <ul class="process-list">
                            <li>Ürün sayfalarının görsel tasarımları</li>
                            <li>Style Guide</li>
                            <li>Makro ve mikro etkileşimler</li>
                            <li>Branding</li>
                        </ul>
                    </div>
                    <div class="col-6 hidden-responsive">
                        <div class="icon-container">
                            <div class="icon-wrapper">
                                <div class="architecture-icon process-icons">Bilgi mimarisi İkonu</div>
                            </div>
                            <span class="right-icon-line"></span>
                            <span class="left-icon-line"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="mouse">
                <div class="scroll"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <span class="font-process-number margin-bottom-50">04.</span>
                        <h2 class="font-55-white margin-bottom-10">Uygulama</h2>
                        <h6 class="font-24-white">Uygulamanızı canlıya alırken, modern arayüz frameworklerini kullanır,
                            SEO uyumlu ve Erişebilir olması için çalışırız.
                        </h6>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="mouse">
                <div class="scroll"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h3 class="font-40-black margin-bottom-25">1. Yazılım Geliştirme</h3>
                        <hr class="process-line margin-bottom-25">
                        <p class="font-24-dark-grey margin-bottom-20">Ürününüzün yazılım geliştirme süreci </p>
                        <p class="font-16-dark-grey margin-bottom-30"><span class="bold">FRAMEWORKS & LANGUAGE: </span>
                            HTML5, CSS3, Javascript, Jquery, Angular, Lottie, Fullpage.js, anime.js
                        </p>
                        <p class="font-16-dark-grey margin-bottom-50"></p>
                        <div class="font-30-dark-grey margin-bottom-20">Çıktılar</div>
                        <ul class="process-list">
                            <li>Design System</li>
                            <li>Front-End Development</li>
                        </ul>
                    </div>
                    <div class="col-6 hidden-responsive">
                        <div class="icon-container">
                            <div class="icon-wrapper">
                                <div class="development-icon process-icons">yazılım ikonu</div>
                            </div>
                            <span class="right-icon-line"></span>
                            <span class="left-icon-line"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div class="page-transition"></div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery-2.1.4.js"></script>
<script src="{{ site.baseurl }}/js/fullpage.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.4/vendors/scrolloverflow.min.js"></script>
<script src="{{ site.baseurl }}/js/process.js"></script>

<script>
    new fullpage('#fullpage', {
        sectionsColor: ['#fff', '#000', '#fff', '#fff', '#fff', '#000', '#fff', '#fff', '#fff', '#000', '#fff', '#fff', '#fff', '#000', '#fff'],
        navigation: true,
        navigationPosition: 'left',
        anchors: ['uxRoadmap', 'discovery', 'workshops', 'analysis', 'research', 'envision', 'definition', 'storyboard', 'ai', 'design', 'prototype', 'userTest', 'visualDesign', 'implementation', 'development'],
        navigationTooltips: ['yol Haritası', 'Keşfet', 'Workshoplar', 'Analiz', 'Araştırma', 'Düşün', 'Problem Tanımlama', 'Storyboards', 'Bilgi Mimarisi', 'Tasarım', 'Prototip', 'Kullanıcı Testleri', 'Arayüz Tasarımı', 'Uygulama', 'Yazılım'],
        keyboardScrolling: true,
        sectionSelector: 'section',
        scrollOverflow: true,
        scrollOverflowOptions: {
            scrollbars: true,
            mouseWheel: true,
            hideScrollbars: false,
            fadeScrollbars: false,
            disableMouse: true
        }
    });
</script>

</html>